<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Permisos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <img src="https://kitpymes.com/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Kitpymes
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" asp-area="" asp-page="\Index">Inicio</a>
                    <a class="nav-item nav-link" asp-area="User" asp-page="\Index">Usuarios</a>
                    <a class="nav-item nav-link" asp-area="Permission" asp-page="\Index">Permisos</a>
                </div>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <!-- /Header -->
    <!-- Body -->
    <main>
        <div class="container-fluid mt-5">
            @RenderBody()
        </div>
    </main>
    <!-- /Body -->
    <!-- Footer -->
    <footer>
        <nav class="navbar fixed-bottom navbar-dark bg-dark py-2">
            <div class="navbar-brand mx-auto text-white-50">
                © @DateTime.Now.Year Copyright <a class="navbar-brand mx-auto" href="https://kitpymes.com"> kitpymes.com</a>
            </div>
        </nav>
    </footer>
    <!-- /Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
