<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-link nav-link">
            Hello @User.Identity.Name!
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Account" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link nav-link" asp-area="Account" asp-page="/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-link" asp-area="Account" asp-page="/Login">Login</a>
        </li>
    }
</ul>
