@page
@model App.Web.Permission.EditModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Editar Permiso";
}

<div class="container d-flex justify-content-center">
    <div class="card w-50">
        <div class="card-body">
            <h5 class="card-title">@ViewData["Title"]</h5>

            <hr />

            <div class="col-12">
                <form method="post">
                    <input type="hidden" asp-for="Permission.Id" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Permission.Name" class="control-label"></label>
                        <input asp-for="Permission.Name" class="form-control" />
                        <span asp-validation-for="Permission.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Permission.Surname" class="control-label"></label>
                        <input asp-for="Permission.Surname" class="form-control" />
                        <span asp-validation-for="Permission.Surname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Permission.PermissionTypeId" class="control-label"></label>
                        <select asp-for="Permission.PermissionTypeId" class="form-control">
                            <option value="1">Enfermedad</option>
                            <option value="2">Licencia</option>
                            <option value="3">Trámites</option>
                        </select>
                        <span asp-validation-for="Permission.PermissionTypeId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Permission.Date" class="control-label"></label>
                        <input asp-for="Permission.Date" class="form-control" />
                        <span asp-validation-for="Permission.Date" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-primary" /> |
                        <a asp-page="./Index">Cancelar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

